trigger:
- none

pr:
- none

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Deploy
  displayName: 'Deploy Stage'
  jobs:
  - deployment: DeployJob
    displayName: 'Deploy to Azure App Service'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
          - task: AzureWebApp@1
            inputs:
              azureSubscription: 'JMafuso'
              appType: 'webApp'
              appName: '<YOUR_APP_SERVICE_NAME>'
              package: '$(Pipeline.Workspace)/drop/odontoprev-*.jar'
